body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
}

/* Navigation */
#navigation nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navigation nav ul li {
    margin-right: 20px;
}

#navigation nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#navigation nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

#account img {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; rounded profile picture */
    background-color: #ddd;
    display: block;
    /* border: 2px solid wheat; Maybe use border in the future? */
}

/* Tablet */
@media (max-width: 1000px) {
    #mainBody {
        grid-template-columns: 200px 1fr;
        gap: 15px;
    }

    #rightPanel {
        display: none;
    }
}

/* Mobile */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    #navigation nav ul {
        justify-content: center;
        flex-grow: 1;
    }

    #mainBody {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    #leftPanel, #rightPanel {
        display: none;
    }
    
    .post-container {
        width: 100%;
        max-width: 350px;
        margin: 20px auto;
    }
    textarea {
        width: 96%;
    }
}